:host {
  border-radius: 3px;
}

.todo-list {
  width: 100%;

  &__empty-state {
    color: darkcyan;
    background-color: white;
    padding: 24px;
  }

  &__todo-column {
    width: 70%;
  }
}

.finished {
  background-color: lightgreen;
}
