:host {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 24px;
}

div {
  height: 100%;
}

.priorities-table {
  margin-bottom: 16px;
}

.table-title {
  color: white;
  margin-top: 0;
}

.form-container {
  border-radius: 3px;
  background-color: white;
  margin-right: 16px;
  height: 240px;
}

.table-container {
  width: 80%;
  border-radius: 3px;
}

@media screen and (max-width: 600px) {
  :host {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 24px;
  }

  .form-container {
    margin-right: 0;
  }

  .priorities-table {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .table-container {
    width: 100%;
  }
}
