:host {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 24px;
}

div {
  height: 100%;
}

.priorities-table {
  margin-bottom: 16px;
}

.table-container {
  width: 80%;
}
