<div class="todo-form" [formGroup]="todoForm">
    <div class="todo-form__input-container">
      <mat-form-field class="todo-form__input">
        <mat-label>Todo</mat-label>
        <input formControlName="todo" matInput>
      </mat-form-field>
      <mat-checkbox class="todo-form__input" labelPosition="after"  formControlName="finished">Finished</mat-checkbox>
      <mat-checkbox class="todo-form__input" labelPosition="after" formControlName="priority">Priority</mat-checkbox>
    </div>
    <div class="todo-form__button-container">
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    </div>
</div>
